@font-face {
    font-family: "VT";
    src: url(/assets/VT323.ttf);
}

@font-face {
    font-family: "Newer";
    src: url(/assets/Found.ttf);
}


:root {
    --accent: rgb(0, 132, 255);
    --grey: #444;
    --black: #000;
    --white: rgb(240, 235, 235);
    --progress-bar-height: 3px;
    --progress-bar-color: rgb(10, 10, 10);
    --progress-bar-value-color: rgb(0, 220, 191);
    --progress-bar-value: 20%;  
}

::selection {
    background:  rgb(0, 15, 220);
    color:white;
  }
  

html {
    font-size:  100%;
    scroll-behavior: smooth;
    background-color:var(--black);
    color: var(--white);
}

strong {color:var(--accent)}

body {
    font-family: 'Newer', sans-serif;
    line-height: 1.65;
    
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    margin: 0 24px;
}

img {
    border-style: none;
    width: 100%;
}

@media only screen and (max-width: 468px) {
    .page-header {
        flex-direction: column;
    }    
    
} 

.page-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
}


.page-header nav a:not(:hover):not(:focus) {
    color: currentColor;
    text-decoration: none;
}

nav a {
    margin: 0 12px;
    font-size: 1.25em;
    font-family: "VT", sans-serif;
    font-size: 14px;
    color: var(--accent)!important;
}

main {
    flex-grow: 1;
    max-width: 60ch;
    width: 100%;
    margin: 0 auto;
}

.page-header__logo {
    width: 30px;
    height: 30px;
    position: relative;
    top: 10px;
}

.page-footer {
    text-align: center;
    margin-bottom: 8px;
}

a[href] {
    text-decoration:none;
    color:white;
}

p a[href]::after {
    content: "»";
    color: var(--accent);
    margin: 0 4px;
}


a[href]:hover {
    text-decoration: underline;
    color: var(--accent);
}

a[href]:focus {
    outline: 2px solid var(--accent);
    outline-offset: 4px;
}

.footnotes {
    font-size: 0.8em;
}

/* Typography */
p {margin-bottom: 1.15rem;}

h1, h2, h3, h4, h5 {
  margin: 2.75rem 0 1.05rem;
  font-weight: 400;
  line-height: 1.15;
  font-family:"VT", sans-serif;
}

.title {
    transform: translateX(-50%) rotate(-10deg);
    display: block;
    float: left;
    left: 50%;
    position: relative;
  }
  .title span {
    transform: skew(-10deg);
    display: block;
    float: left;
    text-shadow: #533d4a 1px 1px, #533d4a 2px 2px, #533d4a 3px 3px, #533d4a 4px 4px, #533d4a 5px 5px, #533d4a 6px 6px;
    min-width: 10px;
    min-height: 10px;
    position: relative;
  }
  
  .title:nth-child(1) {
    color: #e55643;
  }
  .title:nth-child(2) {
    color: #2b9f5e;
  }
  .title:nth-child(3) {
    color: #f1c83c;
  }

h1 {font-size: 2.052em;  text-shadow: 1px 0.5px rgb(30, 1, 97);}

h2 {font-size: 1.441em; text-shadow: 1px 0.5px rgb(30, 1, 97);}

h3 {font-size: 0.953em;color:rgb(11, 86, 250); text-shadow: 1px 0.5px rgb(30, 1, 97);}

h4 {font-size: 0.563em;text-shadow: 1px 0.5px rgb(30, 1, 97);}

h5, .larger {font-size: 0.25em;}

small {font-size: 0.8em;}

/* backlinks */
.backlinks-title {
    margin-bottom: 0;
}

.backlinks-container {
    margin-top: 0;
}

.backlinks-default {
    margin-top: 0;
    margin-left: 16px;
    color: var(--grey);
}

.backlink__preview {
    display: none;
    
    position: absolute;
    bottom: 8px;
    left: 100%;
    background-color: #000;
    border-radius: 4px;
    padding: 4px;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.25);
    width: 348px;
    max-height: 148px;
    overflow: hidden;
}
.backlink__preview::after {
    content: "";
    position: absolute;
    bottom: 0;
    background: linear-gradient(transparent, #000);
    width: 100%;
    height: 24px;
}

.backlink__preview h1 {
    font-size: 1.2rem;
    margin-top: 8px;
    font-weight: bold;
}

.backlink {
    width: fit-content;
    position: relative;
}

.backlink:hover {
    padding-right: 4px; /* Allow mouse to travel between link and modal */
}

.backlink:hover .backlink__preview {
    display: block;
}

/* PROGRESS BAR */

.progress-wrapper {
    position: fixed;
    left:0;
    top:0;
    opacity:0.4;
}

.progress-label {
    DISPLAY: none;
}

progress {
    width: 100vw;
    border-radius: 0 0 2px 2px;
    height: 3px;
    position: absolute;
}