<!DOCTYPE html>
<html lang="it">
<head>
    {% include 'head.html' %}
</head>
<body>
    <div class="progress-wrapper">
        <div class="progress-label"></div>
        <progress></progress>
</div>
    <header class="page-header">
        <a href="/" class="page-header__logo" title="Go home">
            <img src="/assets/avatar.jpeg" alt="Perculato Logo" width="80">
        </a>

        <nav>
            <a href="/">🏠</a>
            <a href="/notes">✏️</a>
            <a href="mailto:perculato@perculato.com">📧</a>
            <!--<a href="/notes">Google Podcast</a>-->
            <!--<a href="/notes">Apple Podcast</a>-->
        </nav>
    </header>
    <main>   
        {{content}}
    </main>
    
    <footer class="page-footer">
        <small>Copyright {{site.author}} | <a href="mailto:info@perculato.com">@mail</a>| 2023</small>
        {% include 'schema.html' %}
    </footer>
</body>
</html>